<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Hello, This is my first Project deployed using Containerization.</h1>
        <p>Welcome to my Django application running inside a Docker container.</p>
        
        <p class="repo-link">
            You can find the whole project details at my GitHub repo:
            <a href="https://github.com/akshayachar03/Docker-projects/tree/main/Django-app" target="_blank">
                View on GitHub
            </a>
        </p>
    </div>
</body>
</html>
